header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height: 15vh;
    padding: 1.5vh 10vw;
    background-color: antiquewhite;
}

.logotitleBox{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
#logo{
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    margin: 0.5vw;
    box-shadow:  0 0 1.5vw .5vw var(--themeTextShadows);
}
#title{
    font-size:calc(var(--defaultFontSize)*1.5);
    padding-left:1vw;
}

.optionsBlock{
    display:flex;
    height:3vw;
    margin: 0;
}
#optionDropDown{
    text-align: center;
    color:var(--themeColorFont2);
    height:3vw;
    padding: 1 0.5vw 1 0.5vw;
    border:none;
    border-right: 0.25vw solid var(--themeColorDetails2);
    border-radius: 2.5vw 0 0 2.5vw;
    margin:none;
    background-color:var(--themeColorDetails1);    
    appearance: none;
}
#irBtn{  
    color:var(--themeColorFont2); 
    width:3vw;
    height:3vw;
    padding: 1 0.5vw 1 0.5vw;
    border:none;
    border-radius: 0 2.5vw 2.5vw 0;
    background-color:var(--themeColorDetails1);   
}
#optionDropDown:hover, #irBtn:hover{
    background-color:rgb(255, 153, 0);
}
