body { 
    margin: 0;
}
main{
    display:grid;
    min-height: 85vh;
    grid-template-columns: 66vw 34vw;
    border-top:0.5vw solid var(--themeColorDetails1);
    background-image:url('https://i.imgur.com/wrD9MHA.png?1'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.informationBox{
    margin:3vw;
    padding: 2.5vw;
    padding-top: 0.5vw;
    background-color: var(--themeTextShadows);
    box-shadow:  0 0 1.5vw 1.5vw var(--themeTextShadows);
    border-radius: 1.5vw;
}
.titleText, h1{
    font-size:calc(var(--defaultFontSize)*2);
}
.imageBox{
    width:100%;
    display:flex;
    margin:0;
    justify-content: center;
    align-items:center;
}
.imagen{
    width: auto;
    max-width: 75%;
    height: auto;
    max-height: 75%;
    background-color: rgb(12 12 12 / 0.25);
    box-shadow: 0 0 2.5vw rgb(12 12 12 / 0.50);
    border-radius: 2.5vw;
}