body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:url('https://i.imgur.com/9pscDxD.jpg');
    background-size:100% 100%;
    width:100%;
    height:100%;
    margin:0;
    border:none;
}
main{
    width: 30vw;
    border: 0.2vw solid rgb(44 44 44);
    padding: 0.75vw;
    margin: 1vw 0 1vw 0;
    background-color: rgb(239, 254, 255);
    border-radius: 2.5vw; 
    box-shadow: 0 0 2.5vw rgb(12 12 12 / 0.50);
}
form{
    padding:0;
    margin:0;
    border:0;
}
#logo{
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    border-radius: 5vw;
    box-shadow:  0 0 1.5vw .5vw var(--themeTextShadows);
}
#logoEspacio{
    width:100%;
    display:flex;
    justify-content: center;
}
.inputLabels{
    width:100%;
}
.inputWrapper{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.25vh;
}
.textFields{
    width:100%;
    border: none;
    background-color: rgb(239, 254, 255);
    border-bottom: 0.2vh solid rgb(44, 44, 44);
}
.imageFields{
    width:100%;
    border: none;
    background-color: rgb(239, 254, 255);
    appearance: none;
}
.errorMsg{
    margin:0;
    color:red;
}
#submitBox{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
#submit{
    width:25%;
    border:none;
    background-color: rgb(192, 212, 238);
    border-radius: 2.5vw;
}
#submit:hover{
    background-color: rgb(164, 187, 218);
}
#newsletterFull{
    width:100%;
    margin-bottom: 4vh;
}
h1{
    text-align:center;
    margin:  0;
    font-size: calc(var(--defaultFontSize)*1.5);
}
#backBtn{
    font-size:calc(var(--defaultFontSize)*2);
    border:none;
    background-color: transparent;
    text-align: center;
}
#backBtn:hover + #labelBackBtn{
    display: inline;
}
#labelBackBtn{
    display:none;
    text-align:center;
}