@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root{
    --defaultFontSize: 1rem;
    --themeColorDetails1:rgb(236, 22, 22);
    --themeColorDetails2:rgb(31, 37, 121);
    --themeColorFont1:rgb(0 0 0);
    --themeColorFont2:rgb(255, 255, 255);
    --themeTextShadows:rgb(12 12 12 / 0.17);
}
*{
    box-sizing:border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: var(--defaultFontSize);
    text-decoration: none;
    color:var(--themeColorFont);
}
